altgraph
annotated-types
anyio
certifi
cffi
charset-normalizer
colorama
cryptography
customtkinter
darkdetect
distro
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
packaging
pefile
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pywin32
pywin32-ctypes
requests
setuptools
sniffio
srt
tenacity
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
vosk
websockets
WMI
yt-dlp
yt-dlp-ejs
